.form {
    display: flex;
  }
  
  .form input[type='text'] {
    flex: 10;
    padding: 5px;
  }
  
  .submitButton {
    background-image: linear-gradient(orange,orange);
    color: rgb(0, 0, 0);
    border: none;
    padding: 5px 9px;
    flex:2;
    cursor: pointer;
    float: right;
  }