.deleteButton {
  background-color: darkred;
    color: #fff;
    border: none;
    padding: 5px 9px;
    cursor: pointer;
    float: right;
  }
  
  .todo {
    background: #000000;
    color: white;
    padding: 10px;
    border-bottom: 1px #ccc dotted;
  }
  
  .isCompleted {
    text-decoration: line-through;
  }